/****************************************/
/* Adjust padding because IE7 doesn't 
support CSS box-sizing: border-box */

.tilebutton {
	padding: 0;
	overflow: visible;

	.tilebutton-table-cell {
		display: block;
		width: 100%;
		padding: 0;
	}

	h3 {
		margin: 10px;
	}
}


