h1, h2, h3, h4, h5 {
	/* font-family: $gpaBaseFontFamily; */
	font-weight:300;
	color: $white;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
	color: $white;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
	color: $white;
}

h1 {
	font-size:60px;
	line-height:70px;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: tint($dark-blue, 20%);
}

h2 {
	font-size:50px;
	line-height:54px;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: tint($dark-blue, 20%);
}