$video-height: 258px;

.tilebutton.pos-video { 
	height: $video-height;
	
	.video-player {
		min-height: $video-height;
	}
}

.tilebutton.pos-less-diesel {
	.tilebutton-table-cell  { 
		h3{width: 30%;}
	}
}
