$video-height: 242px;

/************************/
/* ROW 0 */
.pos-headlinefacts {
	margin-bottom: 30px;
}


/************************/
/* ROW 2 */
.tilebutton.pos-contactus { 
	height: $video-height;
	.tilebutton-table-cell  { 
		height: $video-height;
		text-align: left;
		padding-left: 20px;
	}
} 

.tilebutton.pos-video { 
	height: $video-height;

	.tilebutton-table-cell  { 
		height: $video-height;
	}
	.video-player {
		min-height: $video-height;
	}
} 

.tilebutton.pos-shep { 
	height: $video-height;

	.tilebutton-table-cell  { 
		height: $video-height;
	}
} 


/************************/
/* ROW 3: Press Release Headline */


/************************/
/* ROW 4 */
.tilebutton.pos-gaports {
	.tilebutton-table-cell  { 
		h3{width: 60%;}
	}
}

.tilebutton.pos-containerized {
	height: $photo-base-height;
}


/************************/
/* ROW 5 */
.tilebutton.pos-less-diesel {
	.tilebutton-table-cell  { 
		h3{width: 35%;}
	}
}

.tilebutton.pos-warehouse {
	height: $photo-base-height;
}


/************************/
/* ROW 6: Exporter Chart */
.pos-exportList {
	.export-label{width: 14.66667%;	}
}
