/************************/
/* Home page variables */

$row3-height: 290px;
$row5-height: 210px;
/************************/
/* ROW 1 */

/************************/
/* ROW 2 */

.tilebutton.pos-contactus { 

	.tilebutton-table-cell  { 

	}

} 
.tilebutton.pos-video { 
	height: 258px;

	.tilebutton-table-cell  { 

	}
	.video-player {
		min-height: 258px;
	}

} 
.tilebutton.pos-shep { 


	.tilebutton-table-cell  { 
	}

} 
/************************/
/* ROW 3: Press Release Headline */


/************************/
/* ROW 4 */
.tilebutton.pos-gaports {
	background-position: left center;
	.tilebutton-table-cell  { 
		h3 {width: 50%;}
	}
}

.tilebutton.pos-containerized {
	.tilebutton-table-cell  { 

	}
}

/************************/
/* ROW 5 */

.tilebutton.pos-less-diesel {
	.tilebutton-table-cell  { 
		h3{width: 30%;}
	}
}

.tilebutton.pos-warehouse {

	.tilebutton-table-cell  { 

	}
}
/************************/
/* ROW 6: Exporter Chart */


