$video-height: 292px;

/************************/
/* ROW 2 */
.tilebutton.pos-video { 
	height: $video-height;
	.tilebutton-table-cell  { 
		height: $video-height;
	}
	.video-player {
		min-height: $video-height;
	}
} 


/************************/
/* ROW 4 */
.tilebutton.pos-gaports {
	.tilebutton-table-cell  { 
		h3{width: 60%;}
	}
}


/************************/
/* ROW 5 */
.tilebutton.pos-less-diesel {
	.tilebutton-table-cell  { 
		h3{width: 30%;}
	}
}


