/************************/
/* ROW 3 */

.tilebutton.home-press-releases {
	height:$row3-height;
	.tilebutton-table-cell { 
		height:$row3-height; 
	}
}

.tilebutton.home-more-impact {
	height:$row3-height;
	.tilebutton-table-cell  { 
		height:$row3-height; 
		text-align: left;
		padding-left: 20px;
	}
}

/************************/
/* ROW 4 */
.tilebutton.home-portfactscarousel {
	background-color:$gpa-pale-blue;
	padding: 0;
	height: auto;
}

/************************/
/* ROW 5 */
.tilebutton.home-sustainability {
	height:$row5-height;
	.tilebutton-table-cell  { 
		height:$row5-height; 
	}
}

.tilebutton.home-shep {
	height:$row5-height;
	.tilebutton-table-cell { 
		height:$row5-height; 
		text-align: left;
		padding-left: 20px;
	}
}

.tilebutton.home-videos {
	height:$row5-height;
	min-width: 180px;
	.tilebutton-table-cell { 
		height:$row5-height; 
	}
}

/************************/
/* ROW 6 */
$row6-height: 242px;

.tilebutton.home-jobsvideo { 
	height: $row6-height;

	.tilebutton-table-cell  { 
		height: $row6-height;
	}
	.video-player {
		min-height: $row6-height;
	}
} 

.tilebutton.home-gftc {
	height: $row6-height;

	.tilebutton-table-cell {
		height: $row6-height;
	}
} 
.home-gftc-logo {
	max-width:70px;
}