/****************************************/
/* Adjust padding because IE7 doesn't 
support CSS table layout */

.tilebutton.more-impact  {
	h3 {
		line-height: 200px;
		margin-left: 20px;
	}
}

.tilebutton.sustainability  {
	h3 {
		line-height: 200px;
	}
}

.tilebutton.press-releases {
	h3 {
		margin-bottom: 0;
	}
}