/****************************************/
/* Adjust padding because IE7 doesn't 
support CSS table layout */

.tilebutton.home-press-releases {
	h3 {
		margin-bottom: 0;
	}
}

.tilebutton.home-more-impact  {
	h3 {
		line-height: 200px;
		margin-left: 20px;
	}
}

.tilebutton.home-sustainability  {
	h3 {
		line-height: 200px;
	}
}