$row6-height: 356px;

.tilebutton.home-jobsvideo { 
	height: $row6-height;
	.tilebutton-table-cell  { 
		height: $row6-height;
	}
	.video-player {
		min-height: $row6-height;
	}
}

.tilebutton.home-gftc {
	height: $row6-height;

	.tilebutton-table-cell {
		height: $row6-height;
	}
} 

.home-gftc-logo {
	max-width:130px;
}