/************************/
/* Home page variables */
$photo-base-height: 200px;


/************************/
/* ROW 1: TWO PORTS */
.home-row-1 {
	background-color: $gpa-blue;
	margin-top: 10px;
}
.tilebutton.home-portofsavannah {
	.tilebutton-table-cell  { 
		padding-top: 20px;
		padding-bottom: 20px;

		.innerbutton {
			padding-top: 2px;		
			padding-bottom: 2px;	
		}
		.innerbutton:hover {
			background-color: $gpa-dark-blue;
		}
	}
}
.tilebutton.home-portofbrunswick {
	.tilebutton-table-cell  { 
		padding-top: 20px;
		padding-bottom: 20px;

		.innerbutton {
			padding-top: 2px;		
			padding-bottom: 2px;		
		}
		.innerbutton:hover {
			background-color: $gpa-blue;
		}
	}
}


/************************/
/* ROW 2: VIDEOS, MORE IMPACT */
.tilebutton.home-videos {}

.tilebutton.home-more-impact {
	height: $photo-base-height;
	background-color: $gpa-light-blue;
	@include background-photo('../images/home/more-impact.jpg', center, right);

	.tilebutton-table-cell  { 
		height: $photo-base-height;
		//background-color: rgba($gpa-orange-accent, 0.0);
		/* text-align: left; */
		/* padding-left: 20px; */
	}
	.tilebutton-table-cell:hover {
		background-color: rgba($gpa-dark-blue, 0.2);
	}
}


/************************/
/* ROW 3: CAROUSEL */


/***********************************************/
/* ROW 4: SUSTAINABILITY, SHEP, PRESS RELEASES */
.tilebutton.home-sustainability {
	height: $photo-base-height;
	background-color: $gpa-gray;
	@include background-photo('../images/home/sustainability.jpg', center, center);

	.tilebutton-table-cell  { 
		height: $photo-base-height;
		// background-color: rgba($gpa-orange-accent, 0.0);
	}
	.tilebutton-table-cell:hover {
		background-color: rgba($gpa-orange-accent, 0.3);
	}
}

.tilebutton.home-shep {}

.tilebutton.home-press-releases {
	height: auto;

	.innerbutton:hover {background-color: $gpa-blue;}
}