
.footer .col-sm-2 {
	padding-left: 0;
}

.copyright div {
	padding-left: 0;
	padding-right: 0;
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

@media (min-width: 768px) {
	.tile {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.tile {
		width: 100%;
	}
}

.carousel-indicators li {
	float: left;
	margin: 0 3px;
}

.tile .tile-table-cell {
	display: block;
	width: 100%;
}

.tile-portofsavannah h3, .tile-portofbrunswick h3 {
	line-height: 64px;
}
.tile-videos h3, .tile-more-impact h3 {
	line-height: 290px;
}
.tile-sustainability h3 {
	line-height: 210px;
} 
.tile-shep h3 {
	margin-top: 65px;
}
.tile-press-releases h3 {
	margin-top: 65px;
}