.tile-portofsavannah {
	height:65px;
	background-color: $dark-blue;
	color:white;
	text-align:center;
}

.tile-portofbrunswick {
	height:65px;
	background-color: $blue;
	color:white;
	text-align:center;
}

.tile-videos {
	height:290px;
	text-align:center;
	background-color: $orange;
	h3 {
		margin-top: 125px;
	}
}

.tile-more-impact {
	height:290px;
	margin-left:0;

	background-color: $light-blue;
	background-image: url('../images/home/more-impact.jpg');
	background-repeat: no-repeat;
	background-position: center right; 

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	h3 {
		margin-top: 125px;
	}
	.well {
		color: $white;
		background-color: rgba($dark-blue, 0.5);
		border:none;
	}
}

.tile-portfactscarousel {
	background-color:#c2d1d4;

	.carousel-indicators {
		position: static;
		margin: 0 auto 10px auto;
		list-style: none;
		width: 50px;
	}

	.carousel .item img {
		margin: 0 auto;
	}

	.carousel-control {
		background-color: tint($dark-blue, 20%);
		position: absolute;
		top:50%;
	}
}

.tile-sustainability {
	height:210px;
	text-align:center;
	
	background-color: $gray;
	background-image: url('../images/home/sustainability.jpg');
	background-repeat: no-repeat;
	background-position: center right; 

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	h3 {
		margin-top: 80px;
	}
}

.tile-shep {
	height:210px;
	text-align:center;
	background-color: $orange;
	margin-left:0;
	padding:0 5px;

	h3 {
		line-height: 32px;
		margin-top: 50px;
	}
}

.tile-press-releases {
	
	height:210px;
	text-align:center;
	background-color: $blue;
	margin-left:0;

	h3 {
	}

	h5 {
		line-height: normal;
		margin: 20px;
		text-align: left;

		.icon-rss {
			color: $dark-blue;
		}
	}

	.more-link {
		display: block;
		text-align: right;
	}
}