/* Fonts */
$iconSpritePath: "../images/glyphicons-halflings.png" !default;
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png" !default;
$FontAwesomePath: "../styles/fonts" !default;
$gpa-font-family-sans-serif: 'Open Sans', sans-serif;

/* Colors */
$gpa-dark-blue: #00274c;
$gpa-blue: #007db1;
$gpa-bright-blue: #04a7ea;
$gpa-light-blue: #88cbde;
$gpa-orange: #f7971e;
$gpa-dark-gray: #425968;   
$gpa-gray: #96a0a9; 
$gpa-light-gray: #ccd2d7;
$gpa-banner-bg-blue: #074469;

/* Accent Colors */
$gpa-dark-blue-accent: darken($gpa-dark-blue, 6%);
$gpa-blue-accent: darken($gpa-blue, 10%);
$gpa-orange-accent: darken($gpa-orange, 14%);
$gpa-light-blue-accent: darken($gpa-dark-blue, 14%);
$gpa-gray-accent: darken($gpa-gray, 14%);
$gpa-dark-gray-accent: darken($gpa-dark-gray, 10%);