 .tile-instarate {
	height:65px;
	background-color: $gpa-blue;

	.tile-table-cell { height:65px; }
	.tile-table-cell:hover {
		background-color: $gpa-blue-accent;
	}
}

 .tile-contacts {
	height:65px;
	background-color: $gpa-gray;

	.tile-table-cell { height:65px; }
	.tile-table-cell:hover {
		background-color: $gpa-gray-accent;
	}
}
