/*****************************/
/* ROW 0: HEADLINE & BULLETS */
.pob-headlinefacts ul {
	padding:0 10px 0 40px;
	ul {
		line-height:1.2em;
	}
	li {
		margin:.4em 0;
	}
}


/************************/
/* ROW 1: TWO TERMINALS */
.pob-row-1 {
	background-color: $gpa-dark-blue;
	margin-top: 10px;
}
.tilebutton.pob-colonelsisland {
	.tilebutton-table-cell  { 
		padding-top: 20px;
		padding-bottom: 20px;

		.innerbutton {
			padding-top: 2px;		
			padding-bottom: 2px;	
		}
		.innerbutton:hover {
			background-color: $gpa-blue;
		}
	}
}
.tilebutton.pob-mayorspoint {
	.tilebutton-table-cell  { 
		padding-top: 20px;
		padding-bottom: 20px;

		.innerbutton {
			padding-top: 2px;		
			padding-bottom: 2px;		
		}
		.innerbutton:hover {
			background-color: $gpa-dark-blue;
		}
	}
}


/************************/
/* ROW 2: Contact Us, VIDEOS, Download */
.tilebutton.pob-contactus {} 

.tilebutton.pob-video { 
	height: $photo-base-height;

	.tilebutton-table-cell  {
		padding: 0px;
	}
	.video-player {
		width: 100%;
		max-width: 100%;
		height: auto;
		min-height: $photo-base-height;
	}
}


/************************/
/* ROW 3: Press Release Headline */


/************************/
/* ROW 4: 355,000 Ft2, 3rd Busiest */
.tilebutton.pob-busyPort  {
	height: $photo-base-height;
	background-color: $gpa-light-blue;
	@include background-photo('../images/pob/coast_port.jpg', center, right);

	.tilebutton-table-cell  {
		&:hover{
			background-color: rgba($gpa-dark-blue, 0.5);
		}
	}
}

/************************/
/* ROW 5: Pollution Free, Agri-Products */
.tilebutton.pob-pollutionFree {
	height: $photo-base-height;
	background-color: $gpa-light-blue;
	@include background-photo('../images/pob/sustainability_ertg.jpg', center, right);

	.tilebutton-table-cell  {
		&:hover{
			background-color: rgba($gpa-dark-blue, 0.4);
		}
	}
}

/************************/
/* ROW 6: Header Title */












