$video-height: 258px;

.tilebutton.pob-video { 
	height: $video-height;
	
	.video-player {
		min-height: $video-height;
	}
}

.tilebutton.pob-busyPort {
	background-position: left center;
	.tilebutton-table-cell  { 
		h3 {width: 50%;}
	}
}

.tilebutton.pob-pollutionFree {
	.tilebutton-table-cell  { 
		h3{width: 40%;}
	}
}
