$video-height: 292px;

/************************/
/* ROW 2 */
.tilebutton.pob-video { 
	height: $video-height;
	.tilebutton-table-cell  { 
		height: $video-height;
	}
	.video-player {
		min-height: $video-height;
	}
} 


/************************/
/* ROW 4 */
.tilebutton.pob-busyPort {
	.tilebutton-table-cell  { 
		h3{width: 30%;}
	}
}


/************************/
/* ROW 5 */
.tilebutton.pob-pollutionFree {
	.tilebutton-table-cell  { 
		h3 { width: 30%; }
	}
}