$row5-height: 355px;

/************************/
/* ROW 2 */
.tilebutton.pob-contactus { 
	height: $row5-height;

	.tilebutton-table-cell  { 
		height: $row5-height;
	}
} 

.tilebutton.pob-video { 
	height: $row5-height;

	.tilebutton-table-cell  { 
		height: $row5-height;
	}
	.video-player {
		min-height: $row5-height;
	}

} 

.tilebutton.pob-dload { 
	height: $row5-height;

	.tilebutton-table-cell  { 
		height: $row5-height;
	}
} 