/************************/
/* Home page variables */
$photo-base-height: 200px;

/************************/
/* ROW 1: TWO PORTS */
/************************/
/* ROW 1 */
.home-row-1{

	.home-portofsavannah {
		.tilebutton-table-cell {
			padding-top: 20px;
			padding-bottom: 20px;
			.innerbutton{
				padding: 2px 20px;	

				&:hover {
					background-color: #00274c;
				}
			}

		} 

	} 

	.home-portofsavannah {
		.tilebutton-table-cell {
			padding-top: 20px;
			padding-bottom: 20px;
			.innerbutton{

				padding: 2px 20px;	

				&:hover {

					background-color: #007db1;

				}
			}

		} 

	} 
}

/************************/
/* ROW 2: Contact Us, VIDEOS, Download */

.tilebutton.pob-contactus {
	
} 

.tilebutton.pob-video { 
	height: $photo-base-height;

	.tilebutton-table-cell  { 
		text-align: left;
		padding: 0px;
	}

	.video-player {
		width: 100%;
		max-width: 100%;
		height: auto;
		min-height: $photo-base-height;
	}
} 

.tilebutton.pob-dload { 

	.tilebutton-table-cell  { 
		
		padding-left: 0px;
	}
} 


/************************/
/* ROW 3: Press Release Headline */

/************************/
/* ROW 4: Shed Space, Busy Ro/Ro */

.tilebutton.pob-shed{
	height: auto;

	.tilebutton-table-cell  { 
		text-align: left;
		padding-left: 20px;
		height: auto;

	}

		h3{
			padding: 10px 0px;
		}
}

.tilebutton.pob-busyPort  {
	height: $photo-base-height;
	background-color: $gpa-light-blue;
	@include background-photo('../images/pob/coast_port.jpg', center, right);

	.tilebutton-table-cell  { 
		text-align: left;
		padding-left: 20px;
	}
}

/************************/
/* ROW 5: pollution free, agri-products */

.tilebutton.pob-pollutionFree {
	height: $photo-base-height;
	background-color: $gpa-light-blue;
	@include background-photo('../images/pob/sustainability_ertg.jpg', center, right);

	.tilebutton-table-cell  { 
		text-align: left;
		padding-left: 20px;
		h3{
			color:#000 !important;
		}
	}
}

.tilebutton.pob-agriProd {
		height: auto;
	.tilebutton-table-cell  { 
		text-align: left;
		padding-left: 20px;
	}
}

/************************/
/* ROW 6: Header Title */


/************************/
/* ROW 7: Export List */
.pob-exportList {

	.export-label{width: 11.66667%;	}
	.progress {

			background-color: #fff;

			-webkit-box-shadow: none;
			box-shadow: none; 
				/************************/
				/* Progress Bars */

				.progress-bar{
					.soft-right {padding-right: 10px;}

					&.dark-blue { background-color: $gpa-dark-blue;
						&:hover{
							background-color: $gpa-dark-blue-accent;
						}
					}
					&.orange { background-color: $gpa-orange;
						&:hover{
							background-color: $gpa-orange-accent;
						}
					}
				}
		}
}

/************************/
/* ROW 7: Exporter Chart */












