$video-height: 242px;

/************************/
/* ROW 0 */
.pob-headlinefacts {
	margin-bottom: 30px;
}


/************************/
/* ROW 2 */
.tilebutton.pob-contactus { 
	height: $video-height;
	.tilebutton-table-cell  { 
		height: $video-height;
		text-align: left;
		padding-left: 10px;
	}
}

.tilebutton.pob-video { 
	height: $video-height;
	
	.tilebutton-table-cell  { 
		height: $video-height;
	}
	.video-player {
		min-height: $video-height;
	}
}

.tilebutton.pob-dload { 
	height: $video-height;
	
	.tilebutton-table-cell  { 
		height: $video-height;
		h3 { font-size: 18px; }
	}
}


/************************/
/* ROW 3: Press Release Headline */


/************************/
/* ROW 4 */
.tilebutton.pob-busyPort {
	.tilebutton-table-cell  { 
		h3{width: 40%;}
	}
}

.tilebutton.pob-shed {
	height: $photo-base-height;
}


/************************/
/* ROW 5 */
.tilebutton.pob-pollutionFree {
	.tilebutton-table-cell  { 
		h3{width: 45%;}
	}
}

.tilebutton.pob-agriProd {
	height: $photo-base-height;
}
