h1, h2 {
	font-weight:300;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: tint($gpa-dark-blue, 20%);
}

h1 {
	font-size:30px;
}

h2 {
	font-size:30px;
}

h3 {
	font-weight:400;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	color: $gpa-dark-gray;
}

h4, h5 {
	font-weight:600;
}

h4 {
	color: $gpa-blue;
}

.big-header-2 {
	margin-top: 9px;
	margin-bottom: 28px;
}

.nobreak {
	white-space: nowrap;
}

