.navbar-inverse .nav .nav-home > a {
	border-radius: 16px;
	border:solid 1px $white;
	padding: 3px 8px 3px;
	margin-top: 5px;
	margin-right: 7px;
}

.navbar-inverse .nav .nav-home > a:hover {
	background-color: $blue;
}

.navbar-inverse .nav .nav-home.active > a, 
.navbar-inverse .nav .nav-home.active > a:hover {
	background-color: $orange;
}

.navbar-search-dropdown {
	padding: 5px 10px 0 10px;
}