
/* Home Button */
.navbar-inverse .nav .nav-home > a {
	border-radius: 16px;
	border:solid 1px $white;
	padding: 3px 8px 3px;
	margin-top: 9px; // Navbar is 50px high, this circle is 32px high
	margin-right: 7px;
}

.navbar-inverse .nav .nav-home > a:hover {
	background-color: $gpa-blue;
}

.navbar-inverse .nav .nav-home.active > a, 
.navbar-inverse .nav .nav-home.active > a:hover {
	background-color: $gpa-orange;
}

/* Search */
.navbar-search-dropdown {
	padding: 10px;
}