#DDRMenu_LeftSub .root {
	font-weight: bold;
	/*border-top: solid 1px #CCC;*/
	border-bottom: solid 1px #999;
	background-image:url("leftmenu-sprite.png");
	background-position:left -80px;
	background-repeat:repeat-x;
	background-color: #C5C9CC;
	padding: 5px;
	padding-left: 12px;
	text-shadow: 1px 1px 0 #ededed;
	/*background-image: none;*/
}
#DDRMenu_LeftSub .root div{
	padding-left:8px;
}
#DDRMenu_LeftSub .root div.haschildren {
	/*background-image:url("icn-triangle-down.gif");*/
	/*background-position:left center;*/
	background-image:url("leftmenu-sprite.png");
	background-position:left -40px;
	background-repeat:no-repeat;
}
#DDRMenu_LeftSub ul {
	padding:0;
	margin-left:20px;
}
#DDRMenu_LeftSub li {
	list-style:none;
	padding:0;
	margin:0;
}
#DDRMenu_LeftSub li div {
	display:block;
	margin-top:8px;
	padding-left:8px;
	background-position:left center;
	background-repeat:no-repeat;
}
#DDRMenu_LeftSub div.haschildren {
	/*background-image:url("icn-triangle-right.gif");*/
	background-image:url("leftmenu-sprite.png");
	background-position:left top;
}
#DDRMenu_LeftSub div.haschildren.breadcrumb {
	/*background-image:url("icn-triangle-down.gif");*/
	background-image:url("leftmenu-sprite.png");
	background-position:left -40px;
}
#DDRMenu_LeftSub div.selected {
	font-weight:bold;
}
