.carousel {

	a.carousel-control {
		@include opacity(0); 
	}
	a.carousel-control:hover {
		@include opacity(50); 
	}
	.carousel-indicators {
		bottom: 0;
	}
	.carousel-inner .item {
		text-align: center;
		padding-bottom: 20px;
	}
	.carousel-inner>.item>img, .carousel-inner>.item>a>img {
		margin: 0 auto;
	}
	.carousel-control {
		font-size: 100px;
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		width: 5%;
		@include transition(background-color 0.3s ease);
	}
	.carousel-control:hover {
		background-color: $gpa-gray;
	}
}