.rslides {
	margin: 0 auto;

	ul {
		list-style-type: none;
	}

	li {
		background-color: $white;
	}
}

.big-photo img {
	width:100%;
}

.big-header {
	margin-top: 9px;
}

.big-header-2 {
	margin-top: 9px;
	margin-bottom: 28px;
}

.horizontal-divider {
	margin-bottom:30px;
	height:6px;
	background-color: $blue;
}

.tile-portofsavannah {
	height:65px;
	background-color: $dark-blue;
	color:white;
	text-align:center;
}

.tile-portofbrunswick {
	height:65px;
	background-color: $blue;
	color:white;
	text-align:center;
}

.tile-videos {
	height:290px;
	text-align:center;
	background-color: $orange;
	h3 {
		margin-top: 125px;
	}
}

.tile-more-impact {
	height:290px;
	margin-left:0;

	background-color: $light-blue;
	background-image: url('../images/home/more-impact.jpg');
	background-repeat: no-repeat;
	background-position: center right; 

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	h3 {
		margin-top: 125px;
	}
	.well {
		color: $white;
		background-color: rgba($dark-blue, 0.5);
		border:none;
	}
}

.tile-portfactscarousel {
	background-color:#c2d1d4;

	.carousel-indicators {
		position: static;
		margin: 0 auto 10px auto;
		list-style: none;
		width: 50px;
		cursor: pointer;
	}

	.carousel-inner .item {
		img {
			margin: 0 auto;
		}
	}

	.carousel-control {
		background-color: tint($dark-blue, 20%);
		position: absolute;
		top:50%;

		@include transition(opacity .2s ease);
	}
}

.tile-sustainability {
	height:210px;
	text-align:center;
	
	background-color: $gray;
	background-image: url('../images/home/sustainability.jpg');
	background-repeat: no-repeat;
	background-position: center right; 

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	h3 {
		margin-top: 80px;
	}
}

.tile-shep {
	height:210px;
	/* text-align:center; */
	background-color: $orange;
	margin-left:0;
	/* padding:0 5px; */

	table {
		height: 210px;
		width: 80%;
		margin: 0 auto;
	}

	td {
		text-align: left;
		vertical-align: middle;
	}

	h3 {
		line-height: 32px;
		/* margin-top: 40px; */
	}
}

.tile-press-releases {
	
	height:210px;
	/* text-align:center; */
	background-color: $blue;
	margin-left:0;

	table {
		height: 210px;
		width: 80%;
		margin: 0 auto;
	}

	td {
		text-align: left;
		vertical-align: middle;
	}

	h3 {
		line-height: 32px;
		/* margin-top: 50px; */
	}
}