.navbar-inverse {
	padding-left: 0;
	padding-right: 0;

	.navbar-brand {
		height: 60px;
		max-width: 100%;
		background-color: $gpa-banner-bg-blue; 
		background-image: url('../images/gpa-banner-mobile.png');
		background-position: top left;
		background-repeat: no-repeat;
	}

	.navbar-brand:hover {
		background-color: $gpa-banner-bg-blue;
	}

	.nav-collapse {
		padding-left: 15px;
		padding-right: 15px;
		background-color: $gpa-dark-blue;
	}

}