.footer {
	padding:44px 0;
	background-color: $dark-blue;

	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size: 0.9em;
	color: $gray;

	strong {
		text-transform: uppercase;
	}

	ul { 
		margin-left: 0;
		list-style-type: none;
	}

	a {
		color: $gray;
	}

	a:hover {
		color: $white;
	}

	.copyright {
		margin-top: 15px;
		font-size: .95em;

		.center {
			text-align: center;
		}
	}
}