/************************/
/* Home page variables */
$row3-height: 290px;
$row5-height: 302px;


/************************/
/* ROW 1 */
.contentpane {

	.media-feature {

		.media-video {

			.video-player {
				min-height: 450px;
			}

		}

	}

}