/************************/
/* Home page variables */
$row3-height: 290px;
$row5-height: 210px;
$m-thumb: 150px;

.img-responsive {
display: inline-block;
max-width: 100%;
height: auto;
width: 100%;
}


/************************/
/* ROW 1 */


/************************/
/* ROW 2: VIDEO THUMBNAILS */


.media-videoThumbs {
	.media-thumbs {
		padding-top: 20px;
		
		}

		
	
}
/************************/
/* ROW 3 */

/************************/
/* ROW 4 */


/************************/
/* ROW 5 */

/************************/
/* ROW 6 */
