.media-feature {
	.video-player {
		width: 100%;
		height: auto;
		min-height: $row5-height;
		@media (min-width: 769px) and (max-width: 980px){ min-height: 312px !important;}
	}
}

.media-videoThumbs {
	.media-thumbs {
		padding-top: 20px;
	}
}