/************************/
/* Home page variables */


/************************/
/* ROW 1 */
.media-feature {
	.media-video{

		.img-responsive {
			min-height: 480px;
		}
	}
}

/************************/
/* ROW 2 */

.media-videoThumbs {
	.media-thumbs {
		padding-top: 20px;
		
		

	}
	
}


/************************/
/* ROW 3 */





/************************/
/* ROW 4 */
/* (PORT FACTS CAROUSEL) */
.newsRotator {
	padding-bottom: 10px; 
	.media-newsImage{	}
	span.media-news-description {
		padding-left: 15px;
		display: inline-block;
	}
	img.img-reponsive {

		width: 100%;
		max-height: 180px;
	}
}

/************************/
/* ROW 5 */

.media-newsThumb {
	img.img-reponsive {

		width: 100%;
		max-height: 180px;
	}
	.media-thumbs{
		span.blank{
			height: 160px;
			display: inline-block;
		}
	}
}

/************************/
/* ROW 6 */



